
/*LEFT TO DO: change the 'genre' boxes to two columns */

* {
  box-sizing: border-box;
}
/* all elements have the same border */
nav, .col {
  border: 2px solid black;
  margin: 4px;
}

/* Nav Bar */
nav {
  background-color:#FFB4B0;
}
nav ul {
  margin: 15px 15px;
  padding: 0;
}
nav ul li {
  display: inline-block;
  padding-right: 4px;
  font-size: .85em;
}
nav ul li:not(:last-child) {
  border-right: 2px solid black;
}
nav ul li a.selected {
  color: black;
  text-decoration: none;
}
nav ul li a.visited {
  text-decoration: none;
}

/*column height*/
.col {
  height: 370px;
}


/* Side Bar */
.sidebar {
	background-color: #4DD7FA;
  float: left;
  width: 27%;
  
}
.sidebar fieldset {
  border: none;
  max-width: 100%;
  font-size: .85em;
  padding: 5px;
  margin: 5px;
}
#album, #artist {
  width: 140px;
}
#genre ul {
  margin: 0;
  padding: 0;
}
#genre ul li {
  display: inline-block;
  float: left;
  width: 76px;
  margin: 1px 0 2px 6px;
  padding: 2px 1px;
}

.submit {
  display: block;
  margin: 0 auto;
  width: 100px;

}

/*Song Section*/
.songs {
	background-color: #FEFAC0;
  float: right;
  width: 70%;
  padding: 8px 0 20px 10px;
}
section.song {
  margin:0;
  padding: 5px 0;
}
section.song >h1 {
  font-weight: normal;
  color: #785616;
  font-size: 1.5em;
  padding: 5px 15px;
  margin: 0;
}
section.song >ul {
  padding: 0;
  margin: 0;
}
section.song >ul li {
 display: inline-block;
 margin: 5px 0;
 padding: 0 15px;
 font-size: .85em;
}
section.song >ul li:not(:last-child) {
  border-right: 1px solid black;
  }

/*clearfix just in case!*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
.addSongsDiv {
  text-align: center;
  padding-top: 20px;
}

.addSongsDiv ul {
  margin-top: 2px;
}
.addSongsDiv ul li {
  display: inline;
  list-style-type: none;
  padding-left: 5px;

}
.addsonglabel {
  display: block;
  margin: 0 auto;
}

.hidden{
  display: none;
}
